* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("/Assets/669.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 163px;
    top: 70px;
    background-image: url("/Assets/2207_w018_n002_1080a_p30_1080.jpg");
    background-size: cover;
    height: 150px;
    width: 600px;
    color: white;
    font-size: 70px;
    font-family: "Heroes", sans-serif;
    border: 7px solid black;
    border-radius: 15px;
    box-shadow: 20px 20px 50px darkred;
}

.Welcome {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    text-decoration: none;
    width: 350px;
    height: 170px;;
    border: 7px solid black;
    border-radius: 15px;
    position: relative;
    background-image: url("/Assets/8223915.jpg");
    background-size: cover;
    top: 515px;
    right: 305px;
    font-size: 80px;
    font-family: "Heroes", sans-serif;
}

a:hover {
    box-shadow: 35px 35px 55px rgb(0, 0, 0);
    transition: 0.6s;
    cursor: pointer;
}

@font-face {
       src: url("/Assets/Heroes.otf");
         font-family: "Heroes";
}