* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/Assets/22516503-899e-4f9e-88cd-4c00ad91d18d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.Sobre {
    display: flex;
    justify-content: center;
    background-image: url(Assets/comic_background_5.jpg);
    background-size: cover;
    width: 700px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -43%);
    border: 7px black;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 20px 20px 60px black;
    font-family: "Heroes", sans-serif;
}

.Tsobre {
    position: relative;
    top: 55px;
    left: 293px;
    font-size: 65px;
}

.Psobre {
    font-size: 35px;
    font-weight: 500;
    position: relative;
    top: 175px;
    right: 40px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 632px;
    gap: 160px;
}

.Aimpacto {
    background-image: url(Assets/4840164.jpg);
    background-size:cover;
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    border-style: none;
    border-radius: 15px;
}

.Mdigital {
    background-color: aqua;
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    border-style: none;
    border-radius: 15px;

}

.Fluxograma {
    background-color: aqua;
    width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    border-style: none;
    border-radius: 15px;
}

@font-face {
    src: url("/Assets/Heroes.otf");
    font-family: "Heroes";
}

a {
    text-decoration: none;
    color: black;
    font-family: "heroes";
    font-size: 40px;
}

a:hover {
    transition: 0.6s;
    cursor: pointer;
}

.Aimpacto:hover {
    box-shadow: 20px 20px 40px rgb(82, 0, 82);
}