* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("/Assets/669.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.Welcome {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    align-items: center;
    text-decoration: none;
    width: 400px;
    height: 200px;;
    border: 10px solid black;
    border-radius: 18px;
    position: relative;
    background-image: url("/Assets/4851275.jpg");
    background-position: center;
    top: 275px;
    font-size: 80px;
    font-family: "Heroes", sans-serif;
}

a:hover {
    box-shadow: 35px 35px 55px black;
    transition: 0.3s;
    cursor: pointer;
}

@font-face {
       src: url("/Assets/Heroes.otf");
         font-family: "Heroes";
}